.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
}

.message-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

 .row > button {
    height: 100px;
    width: 100px;
 }

 .row > button:hover {
    background-color: lightskyblue;
 }

 .row > button:active {
    background-color: greenyellow;
 }
 .board {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
 }

 h1 {
    grid-column: 2 / 3;
 }

 .player-names-buttons {
    display: grid;
 }

 .player-names-buttons > button {
    width: 125px;
 }